#hero.scrollable
  %img{src: '/art/bgs/hero-bg-lead.png'}
  .navi
    %a.active{href: '#0'} 1
    %a{href: '#1'} 2
    %a{href: '#2'} 3
  .items
    .item1
      .leftCol
        %h2.crowdfunding Crowdfunding software development
        %p
          Fundry helps developers get paid for developing new features, and enables your community to contribute to get the features they want.

        %a.btn1{href: "/about"}
          %span.firstline How fundry works

        %a.btn2{href: "/project/new"}
          %span.firstline Add a Project

      .rightCol

    .item2
      .leftCol
        %h2.developers Developers
        %ul
          %li Use Fundry to profile your development projects.
          %li List features that you plan to develop, and accept (or reject) feature requests.
          %li Once a majority accept a completed feature, all the pledges (less a 5% fee) are transferred to you.

        %a.btn1{href: "/about"}
          %span.firstline How fundry works

        %a.btn2{href: "/project/new"}
          %span.firstline Add a Project

      .rightCol
    .item3
      .leftCol
        %h2.feature Funders
        %ul
          %li Support your favorite software projects by pledging funds for upcoming features.
          %li If you can't find a particular feature, you can request your own.
          %li Once a feature is complete you have 7 days to accept or reject it.

        %a.btn1{href: "/about"}
          %span.firstline How fundry works
