.toolbar.clearfix
  .leftCol
    %h2 Terms &amp; Conditions

.innerPanel.clearfix
  %p
    These terms of use apply to Your use of this website. By using this website in any manner You agree to be bound by these terms and conditions. If You do not accept these terms and conditions, You must refrain from using the website.

  %p
    This section must be read in conjunction with the
    %a{href: "/faq"} FAQs,
    %a{href: "/terms"} Terms of Use, 
    %a{href: "/privacy"} Privacy Policy
    and such other policies or guidelines as may be published by Fundry on this website from time to time (collectively the ‘Fundry Guidelines’).

  %h3 1. Terminology
  %dl
    %dt 1.1.
    %dd
      In these terms of use, the expressions:
    %dl
      %dt 1.1.a.
      %dd “Fundry”, “We”, “Us” and “Our” are a reference to [Stateless Systems Pty Ltd ABN 99129203477].
      %dt 1.1.b.
      %dd "You” means a user of this website in any capacity and for any purpose.

  %h3 2. Amendments to Terms of Use
  %dl
    %dt 2.1.
    %dd
      We reserve the right to amend these terms and conditions from time to time. Amendments will be effective immediately upon notification on this website. Your continued use of the website following such notification will represent an agreement by You to be bound by the terms and conditions as amended.

  %h3 3. Acknowledgement
  %dl
    %dt 3.1.
    %dd You agree and acknowledge that this website merely acts as an online crowdfunding forum for software developers and users to facilitate the development of new software features.
    %dt 3.2.
    %dd You agree and acknowledge that Our role in any service, transaction or other agreement as between software developers and funders is in the limited capacity as facilitator described in the Fundry Guidelines.

  %h3 4. Registration
  %dl
    %dt 4.1.
    %dd In order to be able to contribute content or post information on this webstie, You must register.  To register, You must complete your registration details in the manner described on the website.  Registration is free but non-transferable.
    %dt 4.2.
    %dd We reserve the right to terminate your registration at any time if you breach the Fundry Guidelines.
    %dt 4.3.
    %dd If You are not registered on this website, You are entitled to access the website for reading purposes only.  Persons in this category are described as “guests”.
    %dt 4.4.
    %dd Registration is only open to You if You are 18 years old or over.  If You are under 18 years of age You must not register on this website.

  %h3 5.  Registration Obligations
  %dl
    %dt 5.1.
    %dd
      By registering on this website, You agree to abide by the following terms and conditions:
    %dl
      %dt 5.1.a.
      %dd You acknowledge that any information or material submitted by you to the website is and will (unless otherwise specified by Us) be treated by us as non-confidential and non-proprietary and we may use such material without restriction;
      %dt 5.1.b.
      %dd You are responsible for protecting the confidentiality of your password;
      %dt 5.1.c.
      %dd You will not post or transmit any material or information which is offensive, defamatory, obscene, unlawful, vulgar, harmful, threatening, abusive, harassing or ethnically objectionable;
      %dt 5.1.d.
      %dd You agree not to disrupt the flow of dialogue on any discussion forum on the website or otherwise act in a manner which negatively affects other registered members of the website;
      %dt 5.1.e.
      %dd You agree not to impersonate any other person;
      %dt 5.1.f.
      %dd You agree to provide current, accurate, and up to date information about yourself as required under the Fundry Guidelines;
      %dt 5.1.g.
      %dd You agree not to post or transmit any unsolicited advertising or promotional materials;
      %dt 5.1.h.
      %dd Any material which you post may be removed by Us without notice at any time;
      %dt 5.1.i.
      %dd You will not post or transmit any material in which the copyright is owned by another person or entity and You warrant that all material posted is your original work and not sourced from any third party;
      %dt 5.1.j.
      %dd You will not post any material which contains viruses or other computer codes, files or programs which are designed to limit or destroy the functionality of other computer software or hardware;
      %dt 5.1.k.
      %dd You accept that any material or information provided by You may be posted on the website for any other members or guests to read;
      %dt 5.1.l.
      %dd We do not accept any liability for the accuracy or content of any material posted by other members of the discussion forum.  We are not liable for any loss resulting from any action taken or reliance made by You on any information or material posted by another member;
      %dt 5.1.m.
      %dd We do not accept any responsibility or liability for any information or material which You submit to this website, nor do We accept any responsibility for any use or misuse which You or any other registered members or guests make of information or material which You submit to this website;
      %dt 5.1.n.
      %dd We do not warrant that We will respond to questions or comments submitted by You to Our website.
      %dt 
        5.1.o. 
      %dd
        You agree that your use of this website is subject to the applicable provisions of the 
        %a{href: "https://cms.paypal.com/us/cgi-bin/?&cmd=_render-content&content_ID=ua/AcceptableUse_full"} PayPal User Agreement (as amended)
        , which Agreement is incorporated into these Terms of Use as if set out in full, and you acknowledge that you have read and understood and agree to be bound by the PayPal User Agreement together with any other terms and conditions published by PayPal from time to time governing the use of its service (as applicable).

  %h3 6. Fundraising and payments
  %dl
    %dt 6.1.
    %dd
      To the extent that You are a ‘developer’ for the purposes of the Fundry Guidelines, (and without limiting any other term or condition of the Fundry Guidelines) you specifically agree and acknowledge that:
    %dl
      %dt 6.1.a.
      %dd You are solely responsible for the development of any ‘feature’ for the purposes of the Fundry Guidelines and You shall protect and hold Fundry harmless against any loss or damage suffered by any third party arising from Your use of this website or any ‘feature’ developed by You in connection with this website.
      %dt 6.1.b.
      %dd In consideration of the service(s) provided to you by Fundry as contemplated by the Fundry Guidelines, You authorise Fundry to deduct and retain from any monies allocated to You in accordance the Fundry Guidelines an amount equal to 5% of such monies.
      %dt 6.1.c.
      %dd You are solely liable to pay for any taxation, duty or other impost (and otherwise to  prepare any documentation, receipt or invoice required by law) associated with any payment made to you by the ‘funders’ pursuant to the Fundry Guidelines and You shall protect and hold Fundry harmless against any liability for such amount(s) and/or the obligation to prepare any such documentation, receipt or invoice on Your behalf.
      %dt 6.1.d.
      %dd Fundry has the sole discretion to pay or withhold any monies allocated to you in accordance with the Fundry Guidelines. You shall not make any claim against and shall otherwise release Fundry from any liability arising from the application of the Fundry Guidelines or the exercise of any other discretion by or decision of Fundry with respect to the matters contemplated by the Fundry Guidelines, including without limitation, the payment or non-payment of monies to You.
      %dt 6.1.e.
      %dd 
        All projects must comply with the 
        %a{href: "https://cms.paypal.com/us/cgi-bin/?&cmd=_render-content&content_ID=ua/AcceptableUse_full"} PayPal Acceptable Use Policy. 
        This includes items that encourage, promote, facilitate or instruct others to engage in illegal activity, items that infringe or violate any copyright, trademark, right of publicity or privacy and money-laundering. 
      
    %dt 6.2.
    %dd
      To the extent that You are a ‘funder’ for the purposes of the Fundry Guidelines, (and without limiting any other term or condition of the Fundry Guidelines) you specifically agree and acknowledge that:
    %dl
      %dt 6.2.a.
      %dd Fundry is not responsible for the performance or punctuality of any ‘projects’ or the development of ‘features’ by ‘developers’ facilitated via this website and You agree to release and hold Fundry harmless against any loss or damage you may suffer as a result of Your use of this website and/or your interactions with any other organisations or individuals found on or through this website and/or your participation in any other activities contemplated by the Fundry Guidelines.
      %dt 6.2.b.
      %dd By depositing monies with Fundry, you will comply with and agree to be bound by the Fundry Guidelines with respect to payment and release of those monies to developers in certain circumstances. You shall not make any claim against and shall otherwise release Fundry from any liability arising from the application of the Fundry Guidelines or the exercise of any other discretion by or decision of Fundry with respect to the matters contemplated by the Fundry Guidelines, including without limitation, the payment or non-payment of monies to ‘developers’ as contemplated by the Fundry Guidelines.

  %h3 7. Disclaimer
  %dl
    %dt 7.1.
    %dd We do not warrant that any material You submit to this website will be protected against loss, misuse or alteration by third parties.  We do not warrant that We will post your information or material on the website.  If We elect in Our sole discretion to post your information or material on the website, We do not warrant that the material or information You submit will be posted within a certain timeframe.
    %dt 7.2.
    %dd We do not accept responsibility for any loss or damage, however caused (including without limitation through contract, tort, or negligence), which You may directly or indirectly suffer in connection with your use of this website or any linked website, nor do We accept any responsibility for any such loss arising out of your use of or reliance on information contained on or accessed through this website.
    %dt 7.3.
    %dd
      To the extent permitted by law, any condition or warranty which would otherwise be implied into these Terms of Use and/or the Funder Guidelines is hereby excluded.  Where legislation implies any condition or warranty, and that legislation prohibits us from excluding or modifying the application of, or Our liability under, any such condition or warranty, that condition or warranty will be deemed included but our liability will be limited for a breach of that condition or warranty to one or more of the following:
    %dl
      %dt 7.3.a.
      %dd
        If the breach relates to goods:
      %dl
        %dt 7.3.a.1.
        %dd the replacement of the goods or the supply of equivalent goods;
        %dt 7.3.a.2.
        %dd the repair of such goods;
        %dt 7.3.a.3.
        %dd the payment of the cost of replacing the goods or of acquiring equivalent goods; or
        %dt 7.3.a.4.
        %dd the payment of the cost of having the goods repaired; and
    %dl
      %dt 7.3.b.
      %dd
        if the breach relates to services:
      %dl
        %dt 7.3.b.1.
        %dd the supplying of the services again; or
        %dt 7.3.b.2.
        %dd the payment of the cost of having the services supplied again.

  %h3 8. Exception to Disclaimer
  %dl
    %dt 8.1.
    %dd The disclaimer set out in these Terms of Use does not attempt or purport to exclude liability arising under statute if, and to the extent, such liability cannot be lawfully excluded.

  %h3 9. Specific Warnings
  %dl
    %dt 9.1.
    %dd You must ensure that your access to this website is not illegal or prohibited by laws which apply to you.
    %dt 9.2.
    %dd You must take your own precautions to ensure that the process which you employ for accessing this website does not expose you to the risk of viruses, malicious computer code or other forms of interference which may damage your own computer system.
    %dt 9.3.
    %dd For the removal of doubt, We do not accept responsibility for any interference or damage to your own computer system which arises in connection with your use of this website or any linked website.
    %dt 9.4.
    %dd While We have no reason to believe that any information contained on this website is inaccurate, We do not warrant the accuracy, adequacy or completeness of such information, nor do We undertake to keep this website updated.  We do not accept responsibility for loss suffered as a result of reliance by You upon the accuracy or current or information contained on this website.
    %dt 9.5.
    %dd Responsibility for the content of advertisements appearing on this website (including hyperlinks to advertisers’ own websites) rests solely with the advertisers.  The placement of such advertisements does not constitute a recommendation or endorsement by Us of the advertised products and each advertiser is solely responsible for any representations made in connection with its advertisement.
    %dt 9.6.
    %dd You acknowledge that despite all reasonable precautions on Our part, there is a risk of unauthorised access to or alteration of your transmissions or data or of information contained on your computer system or on this website.  We do not accept responsibility or liability of any nature for any such losses which you may sustain as a result of such activity.
    %dt 9.7.
    %dd You indemify Us and Our related bodies corporate and our directors and employees against any claim by a third party arising out of a breach of the Fundry Guidelines either by You or by any person using your password or ID, whether or not You have authorised that person to use your password or ID.
    %dt 9.8.
    %dd You acknowledge that We cannot confirm the identity of other registered members or prevent them acting under false pretences.

  %h3 10. Copyright
  %dl
    %dt 10.1.
    %dd
      Except to the extent that ownership rights in any content on this website vests with You (in your capacity as a ‘developer’ or ‘funder’ within the meaning of the Fundry Guidelines), copyright in this website (including text, graphics, logos, icon, sound recordings and software) is owned or licensed by Us.  Other than for the purposes of, and subject to the conditions prescribed under, the Copyright Act 1968 (Cth) and similar legislation which applies to your location, and except as expressly authorised by these terms and conditions, You may not in any form or by any means:
    %dl
      %dt 10.1.a.
      %dd adapt, reproduce, store, distribute, print, display, perform, publish or create derivative works from any of this website; or
      %dt 10.1.b.
      %dd commercialise any information, products or services obtained from any part of this website, without Our written permission.
    %dt 10.2.
    %dd
      By using and contributing any content to this website, You grant to Us the worldwide, non-exclusive, royalty-free, right to:
    %dl
      %dt 10.2.a.
      %dd use, host, and otherwise display that content; and
      %dt 10.2.b.
      %dd use and publish the name(s), trademarks, likeness and personal and biographical details of You, in connection with the service(s) provided by Fundry as contemplated by the Fundry Guidelines.

  %h3 11. Trade Marks
  %dl
    %dt 11.1.
    %dd You must not use any of Our trade marks without Our prior written consent.

  %h3 12. Restricted Use
  %dl
    %dt 12.1.
    %dd Unless We agree otherwise in writing, You are provided with access to this website only for your personal use.  You are authorised to print a copy of any information contained on this website for your personal use, unless such printing is expressly prohibited.  Without limited the foregoing, You may not without Our written permission on-sell information obtained from this website.

  %h3 13. Linked Websites
  %dl
    %dt 13.1.
    %dd This website may contain links to other websites (“linked websites”).  Those links are provided for convenience only and may not remain current or be maintained.
    %dt 13.2.
    %dd We are not responsible for content or privacy practices associates with linked websites.
    %dt 13.3.
    %dd Our links with linked websites should not be construed as an endorsement, approval or recommendation by Us to the owners or operators of those linked websites, or of any information, graphics, materials, products or services referred to or contained on those linked websites, unless and to the extent stipulated to the contrary.

  %h3 14. Privacy Policy
  %dl
    %dt 14.1.
    %dd 
      We undertake to comply with the terms Our 
      %a{href: "/privacy"}privacy policy.

  %h3 15.  Security of Information
  %dl
    %dt 15.1.
    %dd Unfortunately, no data transmission over the Internet can be guaranteed as totally secure.  While We strive to protect such information, We do not warrant and cannot ensure the security of any information which You transmit to Us.  Accordingly, any information which You transmit to Us is transmitted at your own risk.  Nevertheless, once we receive your transmission, We will take reasonable steps to preserve the security of such information.

  %h3 16. Termination of Access
  %dl
    %dt 16.1.
    %dd Access to this website may be terminated at any time by Us without notice.  Our disclaimer will nevertheless survive any such termination.

  %h3 17. Governing Law
  %dl
    %dt 17.1.
    %dd These Terms of Use and the Fundery Guidelines generally are governed by the laws in force in the State of Victoria, Australia.  You agree to submit to the jurisdiction of the courts of that jurisdiction and/or the Federal Court of the Commonwealth of Australia (as the case may require).

  %h3 18. General
  %dl
    %dt 18.1.
    %dd We accept no liability for any failure to comply with the Fundry Guidelines where such failure is due to circumstances beyond Our reasonable control.
    %dt 18.2.
    %dd If We waive any rights available to Us under the Fundry Guidelines on one occasion, this does not mean that those rights will automatically be waived on any other occasion.
    %dt 18.3.
    %dd If any of the Fundry Guidelines are held to be invalid, unenforceable or illegal for any reason, the remaining terms and conditions shall nevertheless continue in full force.
    %dt 18.4.
    %dd If you are registered as a user of this website (in any capacity) then each time you use this website, including without limitation by participating in any of the activities facilitated by this website, you will be taken to have agreed to have read, understood, and agreed to be bound by the then applicable Fundry Guidelines.

  %h3 19. To Return to the Website
  %dl
    %dt 19.1.
    %dd To return to the website, click where indicated.  By doing so, you acknowledge that you have read, understood and accept the Fundry Guidelines.

