%ul#breadcrumbs.clearfix
  %li.first
    %a{href: '/'} Home
  %li.second
    Disclaimer
  
.outerPanel
  .toolbar.clearfix
    .leftCol
      %h2 Disclaimer
    
  .innerPanel.clearfix
    %p
      The Google Privacy Policy describes how we treat personal information when you use Google's products and services, including  information provided when you use Gmail. In addition, the following describes our privacy practices that are specific to Gmail.

    %h3 Personal information
    %ul
      %li
        You need a Google Account to access Gmail. Google asks for some personal information when you create a Google Account, including your alternative contact information and a password, which is used to protect your account from unauthorised access. A Google Account allows you to access many of our services that require registration.
      %li
        Gmail stores, processes and maintains your messages, contact lists and other data related to your account in order to provide the service to you.

      %li
        When you use Gmail, Google's servers automatically record certain information about your use of Gmail. Similar to other web services, Google records information such as account activity (including storage usage, number of log-ins), data displayed or clicked on (including UI elements, ads, links); and other log information (including browser type, IP-address, date and time of access, cookie ID and referrer URL).

    %h3 Uses
    %ul
      %li
        Google maintains and processes your Gmail account and its contents to provide the 
        %a Gmail service 
        to you and to improve our services. The Gmail service includes relevant advertising and related links based on the IP address, content of messages and other information related to your use of Gmail.
      %li
        Google's computers process the information in your messages for various purposes, including formatting and displaying the information to you, delivering advertisements and related links, preventing unsolicited bulk email (spam), backing up your messages and other purposes relating to offering you Gmail.
      %li
        Google may send you information related to your Gmail account or other Google services.

    %h3 Information sharing and onward transfer
    %ul
      %li
        When you send email, Google includes information such as your email address and the email itself as part of that email.
      %li
        We provide advertisers only with aggregated non-personal information such as the number of times one of their ads was clicked. We do not sell, rent or otherwise share your personal information with any third parties except in the limited circumstances described in the Google Privacy Policy, such as when we believe we are required to do so by law.

    %h3 Your choices
    %ul
      %li
        You may change your Gmail account settings through the Gmail "settings" section.
      %li
        You may organise or delete your messages through your Gmail account or terminate your account through the Google Account section of Gmail settings. Such deletions or terminations will take immediate effect in your account view. Residual copies of deleted messages and accounts may take up to 60 days to be deleted from our active servers and may remain in our offline backup systems.
      %li
        You may choose to use additional Gmail features, such as chat, which connects to the Google Talk network, or Google Buzz. The Google Talk service has its own privacy notice available here, and Google Buzz here.

    %h3 More information

    %p
      Google adheres to the US Safe Harbour privacy principles. For more information about the Safe Harbour framework or our registration, see the Department of Commerce's website.

    %p
      Further information about Gmail is 
      %a available here.

    %p
      For more information about our privacy practices, go to the full privacy policy. For questions concerning the product or your account, please check out the Google Help page.