%ul#breadcrumbs.clearfix
  %li.first
    %a{href: '/'} Home
  %li.second
    FAQs

.outerPanel
  .toolbar.clearfix
    .leftCol
      %h2 FAQs

  .innerPanel.clearfix
    :markdown
      This section must be read in conjunction with the [Terms of Use](/terms), [Privacy Policy](/privacy) and such other policies or guidelines as may be published by Fundry on this website from time to time (collectively the ‘Fundry Guidelines’).

      ### General
      * [What is Fundry?](#what_is_fundry)
      * [What's the difference between a project and a feature?](#whats_the_difference_between_a_project_and_a_feature)
      * [Can I be a Developer and a Funder?](#can_i_be_a_developer_and_a_funder)
      * [What's the difference between a donation and a pledge?](#whats_the_difference_between_a_donation_and_a_pledge)
      * [Who is behind Fundry?](#who_is_behind_fundry)
      * [Is Fundry on Twitter?](#is_fundry_on_twitter)
      * [Do you have an API?](#do_you_have_an_api)
      * [How can I keep up to date with a project or feature?](#how_can_i_keep_up_to_date_with_a_project_or_feature)

      ### Developers
      * [What type of projects can be added to Fundry?](#what_type_of_project_can_be_added_to_fundry)
      * [Does it cost money to list a project on Fundry?](#does_it_cost_money_to_list_a_project_on_fundry)
      * [What fees do Fundry charge?](#what_fees_do_fundry_charge)
      * [Do I give up any ownership of a project or feature to Fundry or pledgers?](#do_i_give_up_any_ownership_of_a_project_or_feature_to_fundry_or_pledgers)
      * [How do I start a project?](#how_do_i_start_a_project)
      * [Why must I verify a project?](#why_must_i_verify_a_project)
      * [How long does the project verification take?](#how_long_does_the_project_verification_take)
      * [Is there anything that can't be a project?](#is_there_anything_that_cant_be_a_project)
      * [Is there a target figure I can try to raise?](#is_there_a_target_figure_I_can_try_to_raise)
      * [Why have pledges to a feature gone down?](#why_have_pledges_to_a_feature_gone_down)
      * [Can I reject a feature request?](#can_i_reject_a_feature_request)
      * [Why can’t I lock in pledges?](#why_cant_i_lock_in_pledges)
      * [What do I do if I find someone masquerading as me?](#what_do_i_do_if_i_find_someone_masquerading_as_me)
      * [How do I withdraw funds?](#how_do_i_withdraw_funds)

      ### Funders
      * [How do I make a pledge?](#how_do_i_make_a_pledge)
      * [Is there a minimum pledge?](#is_there_a_minimum_pledge)
      * [Do Funders get any ‘ownership’ of a project feature?](#do_funders_get_any_ownership_of_a_project_feature)
      * [Why is the amount in my Fundry account different to the amount I was charged by PayPal?](#why_is_the_amount_in_my_fundry_account_different_to_the_amount_i_was_charged_by_paypal)
      * [Is there a minimum amount I need in my Fundry account?](#is_there_a_minimum_amount_i_need_in_my_fundy_account)
      * [What happens when a feature is completed?](#what_happens_when_a_feature_is_completed)
      * [What if a Developer says that they have completed a feature but I don’t agree or I am dissatisfied with the feature?](#what_if_a_developer_says_that_they_have_completed_a_feature_but_I_dont_agree)
      * [Will my pledge be paid to the Developer if I rejected the feature?](#will_my_pledge_be_paid_to_the_developer_if_i_reject_a_feature)
      * [Why didn’t I receive an email notifying me that the feature was completed?](#why_didnt_i_receive_an_email_notifying_me_that_the_feature_was_completed)
      * [Why was my pledge paid when I didn’t vote?](#why_was_my_pledge_paid_when_i_didnt_vote)
      * [I accepted the feature but other people rejected the feature. Will my pledge still be paid to the Developer?](#i_accepted_the_feature_but_other_people_rejected_the_feature)
      * [Am I credited anywhere for funding a feature?](#am_i_credited_anywhere_for_funding_a_feature)
      * [Is my pledge amount displayed publicly?](#is_my_pledge_amount_displayed_publicly)
      * [If I make a pledge, what info does the project creator receive?](#if_i_make_a_pledge_what_info_does_the_project_creator_receive)
      * [How do I know the Developer is who they say they are?](#how_do_i_know_the_developer_is_who_they_say_they_are)
      * [Can I pledge anonymously?](#can_i_pledge_anonymously)
      * [Is this restricted just to US residents?](#is_this_restricted_to_us_residents)
      * [Can I cancel a pledge?](#can_i_cancel_a_pledge)
      * [I just pledged ‘1’ thinking it would pledge $0.01, but $1.00 was pledged. Why? And how do I change it?](#i_just_pledged_1_thinking_it_would_pledge_1_cent)
      * [How do I withdraw funds?](#how_do_i_withdraw_funds)
      * [Can I pay by cheque, visa or send you cash in the post?](#can_i_pay_by_cheque_visa_or_send_you_cash_in_the_post)
      * [Who is responsible for making sure Developers complete the Feature as specified?](#who_is_responsible_for_making_sure_developers_complete_the_feature_as_specified)
      * [What fees do Fundry charge?](#what_fees_do_fundry_charge)

  .innerPanel.clearfix
    :markdown
      ### General
      <h4><a name="what_is_fundry"></a>What is Fundry?</h4>
      Fundry is a new way to fund software development. It enables software users to fund particular features they want developed, and in turn enables the software developer to get paid for that development. Win win.

      Developers can specify their own planned development, and choose whether to accept or reject features requests from their community.

      Software users can suggest features to develop and contribute to funding their development.

      <h4><a name="whats_the_difference_between_a_project_and_a_feature"></a>What's the difference between a project and a feature?</h4>
      A Project is a software development project. Within a project a Developer or a Funder can add Features. Features are chunks of work development work that belong within a Project. An example of a Project is Trendsmap. An example of a Feature for Trendsmap could be to add RSS feeds to a location page.

      <h4><a name="can_i_be_a_developer_and_a_funder"></a>Can I be a developer and a funder?</h4>
      Yes. To be a developer you will need to add a Project. Once you are a Developer and have funds in your account then you can fund features.

      <h4><a name="whats_the_difference_between_a_donation_and_a_pledge"></a>What's the difference between a donation and a pledge?</h4>
      A pledge is a specified amount that a funder requests Fundry to release to a developer on completion of a feature from funds contributed by the funder in accordance with the Fundry Guidelines.

      A donation isn’t connected to a particular feature, and as such there isn’t the same obligation around feature development. A donation is a way to give money to a developer without requesting any particular feature development.

      While Fundry charges the developer for a fee of 5% for each successful pledge, there is no charge for Donations.

      <h4><a name="who_is_behind_fundry"></a>Who is behind Fundry?</h4>
      Fundry is operated by <a href="http://statelesssystems.com">Stateless Systems</a>, a small web startup based in Australia. Some of our other applications are <a href="http://retailmenot.com">Retailmenot</a>, <a href="http://bugmenot.com">Bugmenot</a>, <a href="http://cushycms.com">CushyCMS</a>, <a href="http://trendsmap.com">Trendsmap</a> and <a href="http://oursignal.com">OurSignal</a>.

      <h4><a name="is_fundry_on_twitter"></a>Is Fundry on Twitter?</h4>
      Yes [@fundrydotcom](http://twitter.com/fundrydotcom)

      <h4><a name="do_you_have_an_api"></a>Do you have an API?</a></h4>
      Not yet. Contact us to let us know how you would use it.

      <h4><a name="how_can_i_keep_up_to_date_with_a_project_or_feature"></a>How can I keep up to date with a project or feature?</h4>
      Projects and features have RSS.

      ### Developers

      <h4><a name="what_type_of_projects_can_be_added_to_fundry"></a>What type of projects can be added to Fundry?</h4>
      Fundry is focused on software development, which can include anything from major open-source projects, WordPress themes or plugins and iPhone apps.

      <h4><a name="does_it_cost_money_to_list_a_project_on_fundry"></a>Does it cost money to list a project on Fundry?</h4>
      No. Starting a project is free.

      <h4><a name="what_fees_do_fundry_chare"></a>What fees do Fundry charge?</h4>
      For any pledge that is successful, Fundry will apply a 5% fee. Fundry doesn’t apply a fee to donations.

      <h4><a name="do_i_give_up_any_ownership_of_a_project_or_feature_to_fundry_or_pledgers"></a>Do I give up any ownership of a project or feature to Fundry or pledgers?</h4>
      No. Developers keep 100% ownership of a project and features.

      <h4><a name="how_do_i_start_a_project"></a>How do I start a project?</h4>
      1. First you will need to <a href="/signup">sign up</a>.
      2. Then you must verify your project by linking from your project page (outside Fundry) to Fundry.
      3. That’s it really. You’ll probably also want to spread the word with people who use your software, and perhaps get things rolling by adding some planned features yourself.

      <h4><a name="why_must_i_verify_a_project"></a>Why must I verify a project?</h4>
      We need to make sure that the Developer of a project is who they claim they are. This is so bad people cannot raise funds for a project they don’t have anything to do with. We figured the easiest way to do this was to add a link on a page that is the public face of the project.

      <h4><a name="how_long_does_the_project_verification_take"></a>How long does the project verification take?</h4>
      Fundry uses a bot that periodically checks the external project url. Once the external project url is changed the
      bot starts checking once an hour for a day and then once a day for a week and after that once a week until a project
      is verified.

      You can also manually trigger the verification process by clicking the "verify" button on your project page. You
      can only trigger verification for projects that you own and you need to be logged in to do so.

      In addition to automated checks, we also manually check the project site to ensure the content of the site complies
      with the Fundry terms and conditions. This may introduce an additional delay, but we strive to be expedient.

      <h4><a name="is_there_anything_that_cant_be_a_project"></a>Is there anything that can't be a project?</h4>
      All projects must comply with the [PayPal Acceptable Use Policy](https://cms.paypal.com/us/cgi-bin/?&cmd=_render-content&content_ID=ua/AcceptableUse_full). This includes items that encourage, promote, facilitate or instruct others to engage in illegal activity, items that infringe or violate any copyright, trademark, right of publicity or privacy.

      <h4><a name="is_there_a_target_figure_i_can_try_to_raise"></a>Is there a target figure I can try to raise?</h4>
      Yes and no. As a developer you choose if and when to accept a feature however Fundry does not require you to declare a target.

      <h4><a name="why_have_pledges_to_a_feature_gone_down"></a>Why have pledges to a feature gone down?</h4>
      Funders can withdraw a pledge at any time. We don’t encourage this but they may want to do this if a feature is taking too long to develop, or they simply change their mind.

      <h4><a name="can_i_reject_a_feature_request"></a>Can I reject a feature request?</h4>
      Yes. Just change the status for a feature to ‘Rejected’.

      <h4><a name="why_cant_i_lock_in_pledges"></a>Why can’t I lock in pledges?</h4>
      We don’t lock in pledges because Funders need the ability to remove their pledge. One way to reduce Funders removing pledges is to keep features small so development doesn’t take long.

      <h4><a name="what_do_i_do_if_i_find_someone_masquerading_as_me"></a>What do I do if I find someone masquerading as me?</h4>
      For a project to be visible a Developer needs to put a link on the main web page for their development project to the Project page on Fundry. You can see this link on the Project page. If someone is pretending to be you or developing your Project, please [contact us](contact). Link to contact page.

      <h4><a name="how_do_i_withdraw_funds"></a>How do I withdraw funds?</h4>
      Go to your Profile page, then click Withdraw. Note that you will be liable for PayPal fees every time you Withdraw.

      ### Funders

      <h4><a name="how_do_i_make_a_pledge"></a>How do I make a pledge?</h4>
      1. First you will need to <a href="/signup">sign up</a>.
      2. Then you need to add funds into your account. You can do this through PayPal. Please note that PayPal fees will be deducted from your Fundry balance.
      3. You can then pledge to a particular feature.
      4. If you can’t find one that fits with your request, you can simply add a new feature.

      <h4><a name="is_there_a_minimum_pledge"></a>Is there a minimum pledge?</h4>
      #{money BigMoney.new('0.01', :usd)}

      <h4><a name="do_funders_get_any_ownership_of_a_project_feature"></a>Do Funders get any ownership of a project feature?</h4>
      No. Developers keep 100% ownership of a project and feature.

      <h4><a name="why_is_the_amount_in_my_fundry_account_different_to_the_amount_i_was_charged_by_paypal"></a>Why is the amount in my Fundry account different to the amount I was charged by PayPal?</h4>
      PayPal will charge you fees when you deposit or withdraw money. We show you how much these fees are before you confirm a payment, and the balance is deposited in your Fundry account.

      <h4><a name="is_there_a_minimum_amount_i_need_in_my_fundy_account"></a>Is there a minimum amount I need in my Fundry account?</h4>
      No, but please note that you will pay PayPal fees each time you deposit or withdraw money.

      <h4><a name="what_happens_when_a_feature_is_completed"></a>What happens when a feature is completed?</h4>
      When a feature is completed you will be notified by email. In that email you can vote to accept or reject the feature. You will need to do this within 7 days.

      <h4><a name="what_if_a_developer_says_that_they_have_completed_a_feature_but_I_dont_agree"></a>What if a Developer says that they have completed a feature but I don’t agree or I am dissatisfied with the feature?</h4>
      When a feature is completed you will be notified by email. In that email you can vote to reject the feature. You will need to do this within 7 days.
      <h4><a name="will_my_pledge_be_paid_to_the_developer_if_i_reject_a_feature"></a>Will my pledge be paid to the Developer if I rejected the feature?</h4>
      If the majority of Funders have also rejected the feature then your pledge won’t be paid. If the majority of Funders accepted the feature then your pledge will be paid.

      <h4><a name="why_didnt_i_receive_an_email_notifying_me_that_the_feature_was_completed"></a>Why didn’t I receive an email notifying me that the feature was completed?</h4>
      Due to the existence of spam filters we cannot guarantee that all Fundry emails will be received in your inbox. To give our emails the best chance of being received, you should add any @fundry.com email address as a safe sender.

      <h4><a name="why_was_my_pledge_paid_when_i_didnt_vote"></a>Why was my pledge paid when I didn’t vote?</h4>
      7 days after a feature is marked as completed we will count any vote that hasn’t been received as an Acceptance. We do this because a lot of Funders will not bother to vote and we give the benefit of the doubt to the Developer.

      <h4><a name="i_accepted_the_feature_but_other_people_rejected_the_feature"></a>I accepted the feature but other people rejected the feature. Will my pledge still be paid to the Developer?</h4>
      Yes.

      <h4><a name="am_i_credited_anywhere_for_funding_a_feature"></a>Am I credited anywhere for funding a feature?</h4>
      Every feature has a section that shows the Fundry user names of all the funders for a feature. Your profile will also show all the features you've pledged to.

      <h4><a name="is_my_pledge_amount_displayed_publicly"></a>Is my pledge amount displayed publicly?</h4>
      Yes.

      <h4><a name="if_i_make_a_pledge_what_info_does_the_project_creator_receive"></a>If I make a pledge, what info does the project creator receive?</h4>
      Developers see your Fundry username and your pledge amount. Your Fundry username links to your Fundry profile where you can choose to add more information (or not).

      <h4><a name="how_do_i_know_the_developer_is_who_they_say_they_are"></a>How do I know the Developer is who they say they are?</h4>
      For a project to be visible the Developer needs to put a link on the main web page for their development project to the Project page on Fundry. You can see this link on the Project page. If you do not think this is the correct web page for this Project, you should contact the Developer.

      <h4><a name="can_i_pledge_anonymously"></a>Can I pledge anonymously?</h4>
      You can use any username you choose, so you can be anonymous that way.

      <h4><a name="is_this_restricted_to_us_residents"></a>Is this restricted just to US residents?</h4>
      No. All you need is a PayPal account.

      <h4><a name="can_i_cancel_a_pledge"></a>Can I cancel a pledge?</h4>
      Yes. Just go to the appropriate Feature page and click Retract Pledge.

      <h4><a name="i_just_pledged_1_thinking_it_would_pledge_1_cent"></a>I just pledged ‘1’ thinking it would pledge $0.01, but $1.00 was pledged. Why? And how do I change it?</h4>
      We assume that any figure is a single Dollar amount unless a ‘.’ is included. To change it, go to the appropriate Feature page and click Retract Pledge. You can then enter a new Pledge, (provided that the pledge in question has not already been paid to the Developer in accordance with the Fundry Guidelines). If you want to pledge $0.01 then you need to type ‘0.01’.

      <h4><a name="how_do_i_withdraw_funds"></a>How do I withdraw funds?</h4>
      Go to your Profile page, and then click Withdraw. Note that you will be liable for PayPal fees every time you Withdraw.

      <h4><a name="can_i_pay_by_cheque_visa_or_send_you_cash_in_the_post"></a>Can I pay by cheque, visa or send you cash in the post?</h4>
      No we only accept payments through PayPal.

      <h4><a name="who_is_responsible_for_making_sure_developers_complete_the_feature_as_specified"></a>Who is responsible for making sure Developers complete the Feature as specified?</h4>
      Funders and Developers are responsible for ensuring they have a common understanding of what is required within a feature. If you as a Funder don’t think the Feature has been completed as specified you can Reject the feature. If you Reject a feature and a majority of Funders Reject a Feature then your pledge won’t be paid. If you Reject a feature and a majority of Funders Accept a Feature your pledge will be paid.

      <h4><a name="what_fees_do_fundry_charge"></a>What fees do Fundry charge?</h4>
      For any Pledge that is successful, Fundry will apply a 5% fee, which will be paid by deduction from the amount due to the developer. Fundry doesn’t apply a fee to Donations.
