
.outerPanel
  .toolbar.clearfix
    .leftCol
      %h2 404 Page not found

  .innerPanel.clearfix
    %p
      The page you are looking for doesn't appear to exist. Go back,
      or head on over to 
      %a{href: '/'} fundry.com 
      to choose a new direction.
    
    %p
      Please report any broken links to the 
      %a{href: '/'}  Stateless Systems team.