%ul#breadcrumbs.clearfix
  %li.first
    %a{href: '/'} Home
  %li.second
    Privacy Policy

.outerPanel
  .toolbar.clearfix
    .leftCol
      %h2 Privacy Policy

  .innerPanel.clearfix
    :markdown
      This section must be read in conjunction with the [‘How Fundry Works’](/about) section of this website,
      [FAQs](/faq), [Terms of Use](/terms), and such other policies or guidelines as may be published by Fundry
      on this website from time to time (collectively the ‘Fundry Guidelines’).

      We know that you care how your information is used, and we appreciate your trust that we will use it carefully
      and sensibly. This notice describes our privacy policy. By visiting us, you are accepting the privacy policy
      described below.

    %ol
      %li
        We may collect website visitors' contact information (like their email addresses). Unless you object, this
        information may be used:
        %ul
          %li
            to send news, information about Our activities and general promotional material which We believe may be
            useful to you;
          %li
            to monitor who is accessing the website or using services offered on the website; and
          %li
            to profile the type of people who access the website.
      %li
        If you do not wish to have your personal information used in this matter or for any other specific purpose,
        you can email Us accordingly.
      %li
        We utilise "cookies" which enable Us to monitor traffic patterns and to serve you more efficiently if you
        revisit the site. A cookie does not identify you personally bit it does identify your computer. You can set
        your browser to notify you when you receive a cookie and this will provide you with an opportunity to either
        accept or reject it in each instance.
      %li
        We will not sell or otherwise provide your personal information to a third party, or make any other use of your
        personal information, for any purpose which is not incidental to your use of this website. For the removal of
        doubt, personal information will not be used for any purpose which a reasonable person in your position
        would not expect.
      %li
        If you request Us not to use personal information in a particular manner or at all, We will adopt all
        reasonable measures to observe your request but We may still use or disclose that information if:
        %ul
          %li
            We subsequently notify you of the intended use or disclosure and you do not object to that
            use or disclosure;
          %li
            We believe that the use or disclosure is reasonably necessary to assist a law enforcement agency
            or an agency responsible for government or public security in the performance of their functions; or
          %li
            We are required by law to disclose the information.
      %li
        We will preserve the content of any email you send to Us or any posting You make on this website if
        We believe We have the legal requirement to do so.
      %li
        Your email message or posting content may be monitored by Us for troubleshooting or maintenance purposes
        or if any form of email or posting abuse is suspected.
      %li
        Personal information which We collect may be aggregated for analysis but in such circumstances the
        anonymity of individuals would be retained
      %li
        All personal information which We collect (including your contact details and, if relevant, credit card
        or paypal details) is kept confidential to the best of Our ability. You will appreciate, however, that
        We cannot guarantee the security of transmission beyond what is guaranteed by the use of SSL Encryption
        while using the website and TLS if supported by your email provider.
      %li
        We consider it is the responsibility of parents to monitor their children's use of Our website.
        Nevertheless it is Our policy not to require personal information from persons known to be under
        the age of 18 years or offer to send any promotional material to persons in that category.
      %li
        Subject to applicable laws, you may be entitled to have access to any personal information relating
        to you which you have previously supplied to Us over this website. You may be entitled to edit or
        delete such information unless We are required by law to retain it.
      %li
        If you wish to comment on or query Our privacy policy, or if you wish to make an enquiry regarding
        any personal information relating to you which may be in Our possession,
        %a{href: '/contact'} contact us.
