:markdown
  The donor "#{donor.name}" has retracted a pledge of #{money balance, user} made to the feature "#{feature.name}".
  We have initiated a refund of the pledge to the donor.

  If you have any questions or comments regarding the feature please go to http://fundry.com/feature/#{feature.slug}

  Sincerely,

  The Fundry Geek Squad
