:markdown
  Dear #{user.name || user.username},

  Your account has been suspended due to excessive abuse reports or suspected fraudulant activity. You will
  not be able to create new projects, features or change the status of any existing projects or features.
  Your account balance will not be touched unless we find evidence that you violated the Fundry Terms and Conditions.

  Please get in touch with us at http://fundry.com/contact if you need more information.

  Sincerely,

  The Fundry Geek Squad
