:markdown
  Dear #{user.name || user.username},

  Your account has been unsuspended. All your projects should be accessible and you should be able to use Fundry
  as usual.

  Thanks for your patience and understanding.

  Sincerely,

  The Fundry Geek Squad
