:markdown
  Hey there, the following uers have balances that do not add up. Please
  have a look at the database and/or the application logs to make sure everything is
  working properly.

  #{bad}

  Nervously,

  The Fundry Alert Mailer
