:markdown
  Dear #{user.name || user.username},

  We're pleased to inform you that the feature "#{acceptance.feature.name}"
  has been completed. Please go to http://fundry.com/feature/#{acceptance.feature.slug}
  and vote to accept or reject the work that has been done.

  You have 7 days from the receipt of this email to accept or reject.

  If you do not explicitly accept or reject a feature that you have pledged to in that time,
  we will consider that you are happy with the work and count this as an acceptance.

  Sincerely,

  The Fundry Geek Squad
