:markdown
  Dear #{user.name || user.username},

  Your project "#{project.name}" has not been verified yet. Please follow the instructions on
  http://fundry.com/project/#{project.id} on how to get your project verified.

  This usually involves adding a small HTML fragment to your project website which is then
  periodically checked by our verification bot.

  Verifying your project increases the chances of attracting donations and pledges and we
  recommend that you do it as soon as you can.

  Sincerely,

  The Fundry Geek Squad
